<div class='container p-5'>
  <div class='row justify-content-center mt-5'>
    <div class='col-md-6'>
      <div class='card'>
        <div class='card-header'>Reset Password</div>
        <div class='card-body'>
          <form
            class='reset-password-form mb-0'
            action='/reset-password'
            method='POST'
          >
            <input type='hidden' name='token' value='{{token}}' />
            <div class='mb-3'>
              <label for='password' class='form-label'>New Password:</label>
              <input
                type='password'
                class='form-control'
                id='password'
                name='password'
                required
              />
            </div>
            <div class='mb-3'>
              <label for='confirm-password' class='form-label'>Confirm New
                Password:</label>
              <input
                type='password'
                class='form-control'
                id='confirm-password'
                name='confirm-password'
                required
              />
            </div>
            <button
              type='submit'
              class='btn btn-primary'
              id='reset-password-btn'
            >Reset Password</button>
            <div class='mb-2'>Remembered your password?
              <a href='/login'>Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src='/js/reset-password.js'></script>