<div class='container p-5'>
  <div class='row justify-content-center p-5 m-5'>
    <div class='col-md-6'>
      <div class='card'>
        <div class='card-body'>
          <h1 class='card-title'>You Need to Log In</h1>
          <p class='card-text'>You must be logged in to access this page. Please
            click the button below to go to the login page.</p>
          <a href='/login' class='btn btn-primary'>Go to Login Page</a>
        </div>
      </div>
    </div>
  </div>
</div>